.technology-page {
  min-height: 100vh;
  background-image: url("../Images/assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .technology-page {
    background-image: url("../Images/assets/technology/background-technology-tablet.jpg");
  }
}
@media screen and (max-width: 430px) {
  .technology-page {
    background-image: url("../Images/assets/technology/background-technology-mobile.jpg");
  }
}
